html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;

    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #07090E;
}

#main_container{
    height: 100%;
    width: 100%;
}

#top_header{
    height: 50px;
    width: 100%;
    display: block;
    background-color: #07090E;
}

#bottom_footer{
    display: block;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #07090E;
}

#appContainer{
    width: 100%;
    display: block;
}

#leftContainer{
    height: 100%;
    width: 50px;
    display: inline-block;
    float: left;
    background-color: #050a13;
}

#centerContainer{
    height: 100%;
    width: 200px;
    display: inline-block;
    float: left;
    background-color: #0b0e15;
}

#rightContainer{
    display: inline-block;
    background-color: #2C2F34;
    float: right;
}

#top_appContainer{
    height: 55%;
    width: 100%;
    display: block;
}

#bottom_appContainer{
    width: 100%;
    display: block;
}

.splitView_Editors{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.splitView_Tools{
    display: flex;
    flex-direction: row;
    height: 100%;
}


.splitEditor{
    background-color: #1F2227;
    min-width: 80px;
}

.gutter{
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;

    position: relative;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.gutter:hover{
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    
    transition-delay: 250ms;
}

.gutter.gutter-horizontal{
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.gutter.gutter-horizontal:hover{
    cursor: ew-resize;
}

.gutter.gutter-vertical:hover{
    cursor: ns-resize;
}



#toolsPanel{
    background-color: #0D1018;
    min-width: 1px;
}

#toolsPanel_container{
    width: 100%;
    display: block;
    background-color: transparent;
}

#toolsPanel_footer{
    display: block;
    height: 25px;
    width: 100%;
    background-color: #07090E;
}

#builderTools{
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
}

#colorPalette{
    height: 100%;
    width: 100%;
    display: none;
    background-color: transparent;
}

#previewContainer{
    background-color: #0F111A;
    min-width: 342px;
}

#appContainer_innerMargin{
    height: 1px;
    width: 100%;
    display: block;
    background-color: black;
}

#center_right_appContainer_gutter{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: black;
}

#searchBarBrowser{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
    position: relative;
}

.editor_header{
    height: 25px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
}

#editorContainer{
    width: 100%;
    display: block;
}

/*#jsEditorContainer{
    position: relative;
}*/

.EditorChild{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 13.5px;
}


#toolsPanel_header{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
    white-space: nowrap;
}

#previewFrame{
    width: 97%;
    display: block;
}

#previewContainer_text{
    font-size: 20px;
    color: rgb(136, 136, 136);
    display: block;
}

#GUIEditor_Button{
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

#GUIEditor_stat{
    color: white;
    font-size: 15px;
}


.ace_gutter-cell{
    color: #252836;
}

#save_container{
    width: 100%;
    height: 30px;
}

#save_btn{
    height: 100%;
    width: 55px;
}

.elemDim{
    background-color: transparent;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 75px;
    color: white;
}

#connect_user{
    position: relative;
    background-color: rgba(20, 7, 24, 0.879);
    height: 100%;
    width: 100%;
}

#login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background-color: black;
}

#leftContainer_inner{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

#login_topContainer{
    height: 50px;
    width: 100%;
    display: block;
    color: rgb(148, 0, 136);
}

.loginInp{
    background-color: transparent;
    color: rgb(205, 0, 205);
    font-family: monospace;
    font-size: 15px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(118, 18, 118);
    outline: none;
}

.loginBtn{
    color: rgb(90, 0, 90);;
    background-color: transparent;
    border-radius: 20px;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(90, 0, 90);
    border-right-color: rgb(90, 0, 90);
    border-bottom-color: rgb(90, 0, 90);
    cursor: pointer;
    outline: none !important;

    -webkit-transition: border-color 300ms linear;
    -moz-transition: border-color 300ms linear;
    -o-transition: border-color 300ms linear;
    -ms-transition: border-color 300ms linear;
    transition: border-color 300ms linear;

    transition-delay: 50ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.loginBtn:hover{
    border-color: white;
    color: white;
}

#save_btn{
    background-color: transparent;
    color: white;
    border-color: purple;
    border-radius: 20px;
}


#top_headerChild1{
    height: 100%;
    display: inline-block;
    background-color: transparent;
    width: 500px;
}


.icon_header{
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.iconsText_header{
    padding-left: 25px;
    position: absolute;
    display: inline-block;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'terminal';
}

.iconHolder_topHeader{
    height: 100%;
    width: 50px;
    background: transparent;
    display: inline-block;
    position: relative;
}

#devConsole{
    height: 100%;
    width: 547px;
    min-width: 547px;
    position: relative;
}

#consoleHeader{
    height: 30px;
    width: 100%;
    background: rgb(13, 13, 21);
}

#commandInputHolder{
    bottom: 3px;
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: rgb(13, 13, 13);
}


#console_gutter{
    background-color: black !important;
    color: white !important;
    width: 40px !important;
}




/*
    ===========================================
*/






.gmC {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: rgba(47, 44, 54, 0.85);
}

.gradient-mixer {
    margin: auto;
    padding: 2px;
    height: fit-content;
    background-color: rgba(208, 211, 201, 0.1);
    border-radius: 10px;
}

.flex-grid {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.g-color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    flex-grow: 1;
}

.g-color-picker:not(:last-child) {
    margin-right: 5px;
}

.g-color-picker label {
    margin-right: 5px;
    font-size: 12px;
    text-transform: uppercase;
    color: #d0d3c9;
}

.g-fieldset {
    /* Flexbox/grid layout model does not work on fieldset elements (Issue 375693)
   => https://bugs.chromium.org/p/chromium/issues/detail?id=375693
   display: flex;
   align-items: center;
   justify-content: center; */
    margin-top: 3px;
    padding: 0;
    border: none;
}

.g-fieldset:first-child {
    margin-top: 5px;
}


/* Issue 375693 - Fix */


/* Add inner container for the fieldset and apply flex properties to it */

.g-fieldset--inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.g-fieldset--frame .g-fieldset--inner {
    flex-direction: column;
}


/* End */

.g-fieldset--frame {
    padding: 5px 10px;
    background-color: rgba(208, 211, 201, 0.1);
    border-radius: 15px;
}

fieldset[name='radio'] {
    margin-left: 15px;
    margin-right: 15px;
}

fieldset[name='radio'] input[type='radio'] {
    margin: 0;
    width: 12px;
    height: 12px;
    visibility: hidden;
}

fieldset[name='radio'] label {
    flex: 1;
    justify-content: stretch;
    padding: 5px 16px 5px 0;
    min-width: 76px;
    background-color: #2f2c36;
    font-size: 15px;
    text-align: center;
    color: rgba(208, 211, 201, 0.4);
    user-select: none;
    cursor: pointer;
}

fieldset[name='radio'] label:hover {
    background-color: #36333e;
}

fieldset[name='radio'] label:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

fieldset[name='radio'] label:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

fieldset[name='radio'] label.checked {
    background-color: rgba(208, 211, 201, 0.1);
    color: #d0d3c9;
}

.g-input {
    display: inline-flex;
    margin: 10px 5px;
}

.g-input input[type=number]::-webkit-inner-spin-button,
.g-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.g-input input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 0;
    text-align: center;
    background-color: rgba(47, 44, 54, 0.7);
    color: #d0d3c9;
}

.g-input input+.g-input__button-left {
    border-left: none;
}

.g-input input+.g-input__button-right {
    border-right: none;
}

@media (hover: none) and (pointer: coarse) {
    .g-input input {
        height: 33px;
    }
}

.g-input__label {
    font-size: 14px;
    color: #d0d3c9;
}

.g-input__button {
    margin: 0;
    height: 30px;
    width: 30px;
    border: none;
    background-color: rgba(47, 44, 54, 0.4);
    color: #d0d3c9;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    user-select: none;
}

@media (hover: hover) {
    .g-input__button:hover {
        background-color: rgba(208, 211, 201, 0.1);
    }
}

@media (hover: none) and (pointer: coarse) {
    .g-input__button {
        height: 33px;
        width: 33px;
    }
}

.g-input__button-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.g-input__button-left~.g-input__input {
    border-left: none;
}

.g-input__button-right {
    order: 3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.g-input__button-right~.g-input__input {
    border-right: none;
}

.g-output {
    position: relative;
    margin: 15px;
    height: 150px;
    width: 300px;
    background-color: #e2e2e2;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 6px 8px 0 rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-out;
}

@media (hover: none) and (pointer: coarse) {
    .g-output:active {
        transform: scale(1.05, 1.05);
        transition: transform 0.1s ease-out;
    }
}

.g-output+* {
    margin-top: 0;
}

@media (hover: hover) {
    .g-output:hover {
        transform: scale(1.05, 1.05);
        cursor: pointer;
    }
}

.g-output .g-output__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 13px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    user-select: none;
}

@media (hover: hover) {
    .g-output:hover .g-output__button {
        opacity: 0.9;
    }
}

@media (hover: none) and (pointer: coarse) {
    .g-output .g-output__button {
        transition: opacity 0.3s ease-out 1s;
    }
    .g-output:active .g-output__button {
        opacity: 0.9;
        transition: opacity 0.1s ease-out;
    }
}

.g-output .g-output__text {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 0;
    text-align: center;
    transform: translateY(-17px);
    font-size: 25px;
    font-weight: 400;
    user-select: none;
}

.g-output .g-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-5px, 5px);
    opacity: 0.3;
}

.g-slider {
    -webkit-appearance: none;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    max-width: 270px;
    height: 5px;
    background-color: rgba(47, 44, 54, 0.8);
    border-radius: 3px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.g-slider:hover,
.g-slider:active {
    opacity: 1;
}

.g-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    cursor: pointer;
}

@media (hover: none) and (pointer: coarse) {
    .g-slider::-webkit-slider-thumb {
        width: 25px;
        height: 25px;
    }
}

.g-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #d0d3c9;
    cursor: pointer;
}

.g-icon--copy {
    mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCA0NzcuODY3IDQ3Ny44NjciPg0KPHBhdGggZD0iTTM0MS4zMzMsODUuMzMzSDUxLjJjLTI4LjI3NywwLTUxLjIsMjIuOTIzLTUxLjIsNTEuMnYyOTAuMTMzYzAsMjguMjc3LDIyLjkyMyw1MS4yLDUxLjIsNTEuMmgyOTAuMTMzDQoJYzI4LjI3NywwLDUxLjItMjIuOTIzLDUxLjItNTEuMlYxMzYuNTMzQzM5Mi41MzMsMTA4LjI1NiwzNjkuNjEsODUuMzMzLDM0MS4zMzMsODUuMzMzeiIvPg0KPHBhdGggZD0iTTQyNi42NjcsMGgtMzA3LjJjLTI4LjEyNC0wLjAwMS01MC45ODQsMjIuNjg0LTUxLjIsNTAuODA3YzAsMC4xMzcsMCwwLjI1NiwwLDAuMzkzaDI3My4wNjcNCgljNDcuMTA1LDAuMDU2LDg1LjI3NywzOC4yMjgsODUuMzMzLDg1LjMzM1Y0MDkuNmMwLjEzNywwLDAuMjU2LDAsMC4zOTMsMGMyOC4xMjQtMC4yMTYsNTAuODA4LTIzLjA3Niw1MC44MDctNTEuMlY1MS4yDQoJQzQ3Ny44NjcsMjIuOTIzLDQ1NC45NDQsMCw0MjYuNjY3LDB6Ii8+DQo8L3N2Zz4NCg==');
}

.g-icon {
    width: 20px;
    height: 20px;
    mask-size: cover;
    background-color: black;
}






/*
    ===========================================
*/


/*

    =======================================
    =======================================
    =======================================

*/


.disabled{
    cursor: not-allowed;
}

.cursor_pointer:hover{
    cursor: pointer;
}

.noWrap{
    white-space: nowrap;
}