html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;

    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #07090E;
}

#main_container{
    height: 100%;
    width: 100%;
}

#top_header{
    height: 50px;
    width: 100%;
    display: block;
    background-color: #07090E;
}

#bottom_footer{
    display: block;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #07090E;
}

#appContainer{
    width: 100%;
    display: block;
}

#leftContainer{
    height: 100%;
    width: 50px;
    display: inline-block;
    float: left;
    background-color: #050a13;
}

#centerContainer{
    height: 100%;
    width: 200px;
    display: inline-block;
    float: left;
    background-color: #0b0e15;
}

#rightContainer{
    display: inline-block;
    background-color: #2C2F34;
    float: right;
}

#top_appContainer{
    height: 55%;
    width: 100%;
    display: block;
}

#bottom_appContainer{
    width: 100%;
    display: block;
}

.splitView_Editors{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.splitView_Tools{
    display: flex;
    flex-direction: row;
    height: 100%;
}


.splitEditor{
    background-color: #1F2227;
    min-width: 80px;
}

.gutter{
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;

    position: relative;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.gutter:hover{
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    
    transition-delay: 250ms;
}

.gutter.gutter-horizontal{
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.gutter.gutter-horizontal:hover{
    cursor: ew-resize;
}

.gutter.gutter-vertical:hover{
    cursor: ns-resize;
}



#toolsPanel{
    background-color: #0D1018;
    min-width: 1px;
}

#toolsPanel_container{
    width: 100%;
    display: block;
    background-color: transparent;
}

#toolsPanel_footer{
    display: block;
    height: 25px;
    width: 100%;
    background-color: #07090E;
}

#builderTools{
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
}

#colorPalette{
    height: 100%;
    width: 100%;
    display: none;
    background-color: transparent;
}

#previewContainer{
    background-color: #0F111A;
    min-width: 342px;
}

#appContainer_innerMargin{
    height: 1px;
    width: 100%;
    display: block;
    background-color: black;
}

#center_right_appContainer_gutter{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: black;
}

#searchBarBrowser{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
    position: relative;
}

.editor_header{
    height: 25px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
}

#editorContainer{
    width: 100%;
    display: block;
}

/*#jsEditorContainer{
    position: relative;
}*/

.EditorChild{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 13.5px;
}


#toolsPanel_header{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
    white-space: nowrap;
}

#previewFrame{
    width: 97%;
    display: block;
}

#previewContainer_text{
    font-size: 20px;
    color: rgb(136, 136, 136);
    display: block;
}

#GUIEditor_Button{
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

#GUIEditor_stat{
    color: white;
    font-size: 15px;
}


.ace_gutter-cell{
    color: #252836;
}

#save_container{
    width: 100%;
    height: 30px;
}

#save_btn{
    height: 100%;
    width: 55px;
}

.elemDim{
    background-color: transparent;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 75px;
    color: white;
}

#connect_user{
    position: relative;
    background-color: rgba(20, 7, 24, 0.879);
    height: 100%;
    width: 100%;
}

#login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background-color: black;
}

#leftContainer_inner{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

#login_topContainer{
    height: 50px;
    width: 100%;
    display: block;
    color: rgb(148, 0, 136);
}

.loginInp{
    background-color: transparent;
    color: rgb(205, 0, 205);
    font-family: monospace;
    font-size: 15px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(118, 18, 118);
    outline: none;
}

.loginBtn{
    color: rgb(90, 0, 90);;
    background-color: transparent;
    border-radius: 20px;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(90, 0, 90);
    border-right-color: rgb(90, 0, 90);
    border-bottom-color: rgb(90, 0, 90);
    cursor: pointer;
    outline: none !important;

    -webkit-transition: border-color 300ms linear;
    -moz-transition: border-color 300ms linear;
    -o-transition: border-color 300ms linear;
    -ms-transition: border-color 300ms linear;
    transition: border-color 300ms linear;

    transition-delay: 50ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.loginBtn:hover{
    border-color: white;
    color: white;
}

#save_btn{
    background-color: transparent;
    color: white;
    border-color: purple;
    border-radius: 20px;
}


#top_headerChild1{
    height: 100%;
    display: inline-block;
    background-color: transparent;
    width: 500px;
}


.icon_header{
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.iconsText_header{
    padding-left: 25px;
    position: absolute;
    display: inline-block;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'terminal';
}

.iconHolder_topHeader{
    height: 100%;
    width: 50px;
    background: transparent;
    display: inline-block;
    position: relative;
}

#devConsole{
    height: 100%;
    width: 547px;
    min-width: 547px;
    position: relative;
}

#consoleHeader{
    height: 30px;
    width: 100%;
    background: rgb(13, 13, 21);
}

#commandInputHolder{
    bottom: 3px;
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: rgb(13, 13, 13);
}


#console_gutter{
    background-color: black !important;
    color: white !important;
    width: 40px !important;
}




/*
    ===========================================
*/






/*
    ===========================================
*/


/*

    =======================================
    =======================================
    =======================================

*/


.disabled{
    cursor: not-allowed;
}

.cursor_pointer:hover{
    cursor: pointer;
}

.noWrap{
    white-space: nowrap;
}