html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;

    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#main_container{
    height: 100%;
    width: 100%;
}

#top_header{
    height: 50px;
    width: 100%;
    display: block;
    background-color: #07090E;
}

#bottom_footer{
    display: block;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #07090E;
}

#appContainer{
    width: 100%;
    display: block;
}

#leftContainer{
    height: 100%;
    width: 50px;
    display: inline-block;
    float: left;
    background-color: #07090E;
}

#centerContainer{
    height: 100%;
    width: 200px;
    display: inline-block;
    float: left;
    background-color: #0b0e14;
}

#rightContainer{
    display: inline-block;
    background-color: #2C2F34;
    float: right;
}

#top_appContainer{
    height: 55%;
    width: 100%;
    display: block;
}

#bottom_appContainer{
    width: 100%;
    display: block;
}

.splitView_Editors{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.splitView_Tools{
    display: flex;
    flex-direction: row;
    height: 100%;
}


.splitEditor{
    background-color: #1F2227;
    min-width: 80px;
}

.gutter{
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;

    position: relative;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.gutter:hover{
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    
    transition-delay: 250ms;
}

.gutter.gutter-horizontal{
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.gutter.gutter-horizontal:hover{
    cursor: ew-resize;
}

.gutter.gutter-vertical:hover{
    cursor: ns-resize;
}



#toolsPanel{
    background-color: #0D1018;
    min-width: 1px;
}

#previewContainer{
    background-color: #0F111A;
}

#appContainer_innerMargin{
    height: 1px;
    width: 100%;
    display: block;
    background-color: black;
}

#center_right_appContainer_gutter{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: black;
}

#searchBarBrowser{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
}

.editor_header{
    height: 25px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
}

#editorContainer{
    width: 100%;
    display: block;
}

/*#jsEditorContainer{
    position: relative;
}*/

.EditorChild{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 13.5px;
}


#toolsPanel_header{
    height: 30px;
    width: 100%;
    display: block;
    background-color: #0B0C13;
}

#previewFrame{
    width: 97%;
    display: block;
}

#previewContainer_text{
    font-size: 20px;
    color: rgb(136, 136, 136);
    display: block;
}

#GUIEditor_Button{
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

#GUIEditor_stat{
    color: white;
    font-size: 15px;
}


.ace_gutter-cell{
    color: #252836;
}

#save_container{
    width: 100%;
    height: 30px;
}

#save_btn{
    height: 100%;
    width: 55px;
}

.elemDim{
    background-color: transparent;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 75px;
    color: white;
}



/*

    =======================================
    =======================================
    =======================================

*/


.disabled{
    cursor: not-allowed;
}